.category {
  width: 20%;
  height: 70vh;
  font-size: 5vh;
  border-width: 5px;
  position: fixed;
  left: 10;
  top: 30;
  margin-top: 10vh;
  margin-left: 3vh;
  text-align: center;
  border-radius: 53px;
  background: linear-gradient(145deg, #957d76, #b1958c);
  box-shadow:  35px 35px 0px #423834,
               -35px -35px 0px #ffded2;
}

.tile {
  font-size: 3vh;
  margin: 1vh;
  border-radius: 17px;
  background:  #957d76;
  box-shadow: 5px 5px 0px  #957d76, -5px -5px 0px  #957d76;
}

.tile:hover {
  transform: scale(1);
}

.tile:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tile a{
  color: #000;
}
